# german language file for Crimson Fields
# based on en.tmpl revision 1.19
language=deutsch
id=de

[messages]
_OK
# MSG_B_CANCEL
_Abbrechen
# MSG_B_YES
_Ja
# MSG_B_NO
_Nein
# MSG_B_START
L_os geht's
# MSG_B_MAP
_Karte
# MSG_B_OBJECTIVES
Einsatz_ziele
# MSG_B_LEVEL_INFO
Karten_info
# MSG_B_LOAD
_Laden
# MSG_B_SAVE
_Speichern
# MSG_B_SKIP
_Beenden
# MSG_B_END_TURN
_Runde beenden
# MSG_B_OPTIONS
_Einstellungen
# MSG_B_OPT_GENERAL
_Allgemein
# MSG_B_OPT_VIDEO
An_zeige
# MSG_B_OPT_AUDIO
_Ton
# MSG_B_OPT_FULLSCREEN
_Vollbild
# MSG_B_OPT_DAMAGE
_Schadensanzeige
# MSG_B_OPT_REPLAYS
_Rundenwiederholungen
# MSG_B_OPT_REPLAYS_QUICK
Nur Schlacht_ausgang zeigen
# MSG_B_OPT_SFX
_Effekte
# MSG_B_OPT_MUSIC
_Musik
# MSG_B_OPT_LANGUAGE
_Sprache
# MSG_B_OPT_KEYBOARD
Tasten_belegung
# MSG_B_GAME_TYPE
Spiel_modus
# MSG_B_MAP_TYPE
_Karten
# MSG_B_SAVE_GAME
_Speichern...
# MSG_B_MAIN_MENU
_Aufgeben...
# MSG_B_QUIT
_Beenden...
# MSG_B_EXIT
S_chließen
# MSG_B_HANDICAP
_Handicap
# MSG_B_REPAIR
_Reparieren
# MSG_B_UNIT_INFO
_Info
# MSG_B_UNIT_CONTENT
I_nhalt
# MSG_B_UNIT_SWEEP
_Mine räumen
# MSG_B_UNIT_UNDO
_Zurücknehmen
# MSG_B_SERVER
_Servername/-adresse
# MSG_B_PORT
_Port
# MSG_GAME_HOT_SEAT
Heißer Stuhl
# MSG_GAME_PBEM
via e-Mail
# MSG_GAME_AI
gegen Computer
# MSG_GAME_NETWORK_SERVER
Netzwerk (Server)
# MSG_GAME_NETWORK_CLIENT
Netzwerk (Client)
# MSG_MAPS_SINGLES
Einzelgefechte
# MSG_MAPS_CAMPAIGNS
Kampagnen
# MSG_MAPS_SAVES
Spielstände
# MSG_HANDICAP_NONE
kein
# MSG_HANDICAP_P1
Spieler 1
# MSG_HANDICAP_P2
Spieler 2
# MSG_TAG_PBEM
Mail
# MSG_TAG_NET
TCP/IP
# MSG_TURN
Runde
# MSG_UNITS
Einheiten
# MSG_SHOPS
Gebäude
# MSG_PLAYER_SELECTION
Seitenwahl
# MSG_DEBRIEFING
Abschlussbesprechung
# MSG_LVL_INFO
Karteninformation
# MSG_OPTIONS_GENERAL
Allgemeine Einstellungen
# MSG_OPTIONS_VIDEO
Anzeigeoptionen
# MSG_OPTIONS_AUDIO
Toneinstellungen
# MSG_OPTIONS_LANGUAGE
Sprachauswahl
# MSG_OPTIONS_KEYBOARD
Tastenbelegung
# MSG_OPT_KEY_MINIMIZE
Spiel minimieren
# MSG_OPT_KEY_END_TURN
Runde beenden
# MSG_OPT_KEY_MAP
Übersichtskarte
# MSG_OPT_KEY_GAME_MENU
Spielmenü
# MSG_OPT_KEY_UNIT_MENU
Einheitenmenü
# MSG_OPT_KEY_UNIT_CONTENT
Inhalt zeigen
# MSG_OPT_KEY_UNIT_INFO
Einheiteninformation
# MSG_OPT_KEY_UNIT_NEXT
Nächste Einheit
# MSG_OPT_KEY_UNIT_SELECT
Einheit aktivieren
# MSG_OPT_KEY_UNIT_UNDO
Letzten Zug zurücknehmen
# MSG_OPT_KEY_UNIT_SWEEP
Mine räumen
# MSG_PRESS_KEY
Drücken Sie die gewünschte Taste (Löschen/Entfernen hebt die bestehende Zuweisung auf)
# MSG_LOAD_GAME
Spiel laden
# MSG_SAVE_GAME
Spiel speichern
# MSG_GAME_SAVED
Spiel gespeichert
# MSG_GAME_SAVED_PBEM
Aktuelles e-Mail-Spiel wurde gespeichert nach
'%s'.
# MSG_ENTER_PASSWORD
_Passwort eingeben
# MSG_CHOOSE_PASSWORD
_Passwort wählen
# MSG_CONFIRM_PASSWORD
_Passwort bestätigen
# MSG_NET_WAITING
Warte auf Mitspieler...
# MSG_NET_WAITING_CLIENT
Warte auf Mitspieler...
# MSG_NET_CONNECTING
Verbinde zu Server...
# MSG_NET_CONFIG_SERVER
Server-Konfiguration
# MSG_NET_CONFIG_CLIENT
Verbinde mit Server
# MSG_TRANSFER_UNITS
Wählen Sie die Ladung.
# MSG_ASK_SIDE
Welche Seite möchten Sie spielen?
# MSG_ASK_REPAIR
Die Reparatur von %s verbraucht %d Kristalle.
# MSG_ASK_OVERWRITE
Die Datei '%s'
existiert bereits. Überschreiben?
# MSG_ASK_ABORT
Zurück zum Hauptmenü?
# MSG_ASK_ABORT_PBEM
Wirklich abbrechen? Der aktuelle Spielstand geht verloren!
# MSG_ASK_ABORT_NETWORK
Das laufende Spiel wirklich verlassen und
die Verbindung unterbechen?
# MSG_ASK_QUIT
Wollen Sie das Spiel wirklich verlassen?
# MSG_RESULT_DRAW
Dieses Spiel endete unentschieden!
# MSG_RESULT_VICTORY
Gratulation! Sie haben gewonnen!
# MSG_RESULT_DEFEAT
Sie wurden besiegt!
# MSG_MESSAGE
Nachricht
# MSG_WARNING
Warnung
# MSG_ERROR
Fehler
# MSG_ERR_WRITE
Konnte Ausgabedatei nicht öffnen.
# MSG_ERR_SAVE
Spiel konnte nicht gespeichert werden!
# MSG_ERR_NETWORK
Verbindung zu Mitspieler verloren!
# MSG_ERR_LOAD_MAP
Einsatz konnte nicht geladen werden!
# MSG_ERR_NO_ACCESS
Zugriff verweigert!
# MSG_ERR_NO_BRIEFING
Keine Einsatzbeschreibung verfügbar!
# MSG_ERR_NO_LVL_INFO
Keine Karteninformationen verfügbar!
# MSG_ERR_MAP_NOT_FOUND
Die gewünschte Karte ist nicht verfügbar!
# MSG_ERR_NO_MAP
Kein Einsatz ausgewählt!
# MSG_ERR_SWEEPER_FULL
Kein Platz für Mine.
# MSG_ERR_NO_CRYSTALS
Unzureichende Lagerbestände
# MSG_ERR_NO_PRODUCTION
Sie können diese Einheit nicht bauen.
[/messages]

