# english language file for Crimson Fields ($Revision: 1.19 $)
language=english
id=en

[messages]
_OK
# MSG_B_CANCEL
_Cancel
# MSG_B_YES
_Yes
# MSG_B_NO
_No
# MSG_B_START
_Start
# MSG_B_MAP
_Map
# MSG_B_OBJECTIVES
Ob_jectives
# MSG_B_LEVEL_INFO
_Level Info
# MSG_B_LOAD
_Load
# MSG_B_SAVE
_Save
# MSG_B_SKIP
_Stop
# MSG_B_END_TURN
_End Turn
# MSG_B_OPTIONS
_Options
# MSG_B_OPT_GENERAL
_General
# MSG_B_OPT_VIDEO
_Video
# MSG_B_OPT_AUDIO
_Sound
# MSG_B_OPT_FULLSCREEN
_Fullscreen
# MSG_B_OPT_DAMAGE
Show _Damage Indicators
# MSG_B_OPT_REPLAYS
Show _Turn Replays
# MSG_B_OPT_REPLAYS_QUICK
Show _Battle Results Only
# MSG_B_OPT_SFX
_SFX
# MSG_B_OPT_MUSIC
_Music
# MSG_B_OPT_LANGUAGE
_Language
# MSG_B_OPT_KEYBOARD
_Key Bindings
# MSG_B_GAME_TYPE
Game _Type
# MSG_B_MAP_TYPE
_Maps
# MSG_B_SAVE_GAME
_Save...
# MSG_B_MAIN_MENU
S_urrender...
# MSG_B_QUIT
_Quit...
# MSG_B_EXIT
E_xit
# MSG_B_HANDICAP
_Handicap
# MSG_B_REPAIR
_Repair
# MSG_B_UNIT_INFO
_Info
# MSG_B_UNIT_CONTENT
_Content
# MSG_B_UNIT_SWEEP
_Sweep Mine
# MSG_B_UNIT_UNDO
_Undo
# MSG_B_SERVER
_Server Name/Address
# MSG_B_PORT
_Port
# MSG_GAME_HOT_SEAT
Hot Seat
# MSG_GAME_PBEM
Play By e-Mail
# MSG_GAME_AI
vs. Computer
# MSG_GAME_NETWORK_SERVER
Network (Server)
# MSG_GAME_NETWORK_CLIENT
Network (Client)
# MSG_MAPS_SINGLES
Skirmishes
# MSG_MAPS_CAMPAIGNS
Campaigns
# MSG_MAPS_SAVES
Saved Games
# MAG_HANDICAP_NONE
None
# MSG_HANDICAP_P1
Player 1
# MSG_HANDICAP_P2
Player 2
# MSG_TAG_PBEM
PBEM
# MSG_TAG_NET
TCP/IP
# MSG_TURN
Turn
# MSG_UNITS
Units
# MSG_SHOPS
Shops
# MSG_PLAYER_SELECTION
Player Selection
# MSG_DEBRIEFING
Mission Debriefing
# MSG_LVL_INFO
Level Information
# MSG_OPTIONS_GENERAL
General Options
# MSG_OPTIONS_VIDEO
Video Options
# MSG_OPTIONS_AUDIO
Audio Options
# MSG_OPTIONS_LANGUAGE
Language Selection
# MSG_OPTIONS_KEYBOARD
Key Bindings
# MSG_OPT_KEY_MINIMIZE
Minimize Game
# MSG_OPT_KEY_END_TURN
End Turn
# MSG_OPT_KEY_MAP
View Map
# MSG_OPT_KEY_GAME_MENU
Game Menu
# MSG_OPT_KEY_UNIT_MENU
Unit Menu
# MSG_OPT_KEY_UNIT_CONTENT
Show content
# MSG_OPT_KEY_UNIT_INFO
Unit Info
# MSG_OPT_KEY_UNIT_NEXT
Next Unit
# MSG_OPT_KEY_UNIT_SELECT
Select Unit
# MSG_OPT_KEY_UNIT_UNDO
Undo Last Move
# MSG_OPT_KEY_UNIT_SWEEP
Sweep Mine
# MSG_PRESS_KEY
Please press a key to assign or Backspace/Delete to clear
# MSG_LOAD_GAME
Load Game
# MSG_SAVE_GAME
Save Game
# MSG_GAME_SAVED
Game Saved
# MSG_GAME_SAVED_PBEM
Current PBeM game was saved to
'%s'.
# MSG_ENTER_PASSWORD
Enter _Password
# MSG_CHOOSE_PASSWORD
Choose a _Password
# MSG_CONFIRM_PASSWORD
Confirm _Password
# MSG_NET_WAITING
Waiting for remote player...
# MSG_NET_WAITING_CLIENT
Waiting for client...
# MSG_NET_CONNECTING
Connecting...
# MSG_NET_CONFIG_SERVER
Server Configuration
# MSG_NET_CONFIG_CLIENT
Connect to Server
# MSG_TRANSFER_UNITS
Select your cargo.
# MSG_ASK_SIDE
Which side do you want to play?
# MSG_ASK_REPAIR
Repairing the %s requires %d crystals.
# MSG_ASK_OVERWRITE
The file '%s'
exists. Overwrite?
# MSG_ASK_ABORT
Return to main menu?
# MSG_ASK_ABORT_PBEM
Really abort? The current game will be lost!
# MSG_ASK_ABORT_NETWORK
Really leave the current game and disconnect?
# MSG_ASK_QUIT
Do you really want to quit?
# MSG_RESULT_DRAW
This game was a draw!
# MSG_RESULT_VICTORY
Congratulations! You are victorious!
# MSG_RESULT_DEFEAT
You have been defeated!
# MSG_MESSAGE
Message
# MSG_WARNING
Warning
# MSG_ERROR
Error
# MSG_ERR_WRITE
Couldn't open output file.
# MSG_ERR_SAVE
Unable to save game!
# MSG_ERR_NETWORK
Lost connection to remote peer!
# MSG_ERR_LOAD_MAP
Failed to load mission!
# MSG_ERR_NO_ACCESS
Access denied!
# MSG_ERR_NO_BRIEFING
No mission briefing available!
# MSG_ERR_NO_LVL_INFO
No level information available!
# MSG_ERR_MAP_NOT_FOUND
Requested map not available!
# MSG_ERR_NO_MAP
No level selected!
# MSG_ERR_SWEEPER_FULL
No space for mine.
# MSG_ERR_NO_CRYSTALS
Insufficient Supplies
# MSG_ERR_NO_PRODUCTION
You cannot build this unit.
[/messages]

