# fichier de la langue française pour Crimson Fields
# version française: Benoit PEUREUX <benoit.peureux@wanadoo.fr>
# based on en.tmpl revision 1.19
language=français
id=fr

[messages]
_OK
# MSG_B_CANCEL
_Annuler
# MSG_B_YES
_Oui
# MSG_B_NO
_Non
# MSG_B_START
_Démarrer
# MSG_B_MAP
_Carte
# MSG_B_OBJECTIVES
Ob_jectifs
# MSG_B_LEVEL_INFO
_Infos du niveau
# MSG_B_LOAD
_Charger
# MSG_B_SAVE
_Sauvegarder
# MSG_B_SKIP
_Arrêter
# MSG_B_END_TURN
_Terminer votre tour
# MSG_B_OPTIONS
_Options
# MSG_B_OPT_GENERAL
_Général
# MSG_B_OPT_VIDEO
_Vidéo
# MSG_B_OPT_AUDIO
_Son
# MSG_B_OPT_FULLSCREEN
_Plein écran
# MSG_B_OPT_DAMAGE
Voir indicateurs de _Dégâts
# MSG_B_OPT_REPLAYS
Revoir _Tour précédent
# MSG_B_OPT_REPLAYS_QUICK
Voir seulement les _Résultats de la bataille
# MSG_B_OPT_SFX
_SFX
# MSG_B_OPT_MUSIC
_Musique
# MSG_B_OPT_LANGUAGE
_Langue
# MSG_B_OPT_KEYBOARD
_Raccourcis clavier
# MSG_B_GAME_TYPE
_Type du Jeu
# MSG_B_MAP_TYPE
_Cartes
# MSG_B_SAVE_GAME
_Sauvegarder...
# MSG_B_MAIN_MENU
Se _Rendre...
# MSG_B_QUIT
_Quitter...
# MSG_B_EXIT
Q_uitter
# MSG_B_HANDICAP
_Handicap
# MSG_B_REPAIR
_Réparer
# MSG_B_UNIT_INFO
_Informations
# MSG_B_UNIT_CONTENT
_Contenu
# MSG_B_UNIT_SWEEP
_Déminer
# MSG_B_UNIT_UNDO
_Défaire
# MSG_B_SERVER
_Serveur Nom/Adresse
# MSG_B_PORT
_Port
# MSG_GAME_HOT_SEAT
Sur le même ordinateur
# MSG_GAME_PBEM
Jouer par e-Mail
# MSG_GAME_AI
Contre l'ordinateur
# MSG_GAME_NETWORK_SERVER
En réseau (Serveur)
# MSG_GAME_NETWORK_CLIENT
En réseau (Client)
# MSG_MAPS_SINGLES
Escarmouches
# MSG_MAPS_CAMPAIGNS
Campagnes
# MSG_MAPS_SAVES
Parties sauvegardées
# MAG_HANDICAP_NONE
Aucun
# MSG_HANDICAP_P1
Joueur n°1
# MSG_HANDICAP_P2
Joueur n°2
# MSG_TAG_PBEM
PBEM
# MSG_TAG_NET
TCP/IP
# MSG_TURN
Tour
# MSG_UNITS
Unités
# MSG_SHOPS
Usines
# MSG_PLAYER_SELECTION
Choix du camp
# MSG_DEBRIEFING
Résumé de la Mission
# MSG_LVL_INFO
Infos du Niveau
# MSG_OPTIONS_GENERAL
Options Générales
# MSG_OPTIONS_VIDEO
Options Vidéo
# MSG_OPTIONS_AUDIO
Options Audio
# MSG_OPTIONS_LANGUAGE
Choix de la Langue
# MSG_OPTIONS_KEYBOARD
Raccourcis clavier
# MSG_OPT_KEY_MINIMIZE
Réduire le terrain de jeu
# MSG_OPT_KEY_END_TURN
Fin du Tour
# MSG_OPT_KEY_MAP
Afficher la carte
# MSG_OPT_KEY_GAME_MENU
Menu du Jeu
# MSG_OPT_KEY_UNIT_MENU
Menu des unités
# MSG_OPT_KEY_UNIT_CONTENT
Afficher le Contenu
# MSG_OPT_KEY_UNIT_INFO
Infos de l'unité
# MSG_OPT_KEY_UNIT_NEXT
Unité suivante
# MSG_OPT_KEY_UNIT_SELECT
Choisissez une unité
# MSG_OPT_KEY_UNIT_UNDO
Défaire la dernière action
# MSG_OPT_KEY_UNIT_SWEEP
Champ de Mines
# MSG_PRESS_KEY
Appuyez sur une touche de votre choix ou sur Backspace/Suppr pour effacer
# MSG_LOAD_GAME
Charger une partie
# MSG_SAVE_GAME
Sauvegarder la partie
# MSG_GAME_SAVED
Partie Sauvegardée
# MSG_GAME_SAVED_PBEM
La partie jouée par eMail est sauvegardée sur 
'%s'.
# MSG_ENTER_PASSWORD
Entrer un Mot de _Passe
# MSG_CHOOSE_PASSWORD
Choisissez un mot de _Passe
# MSG_CONFIRM_PASSWORD
Confirmez le mot de _Passe
# MSG_NET_WAITING
En attente du joueur distant...
# MSG_NET_WAITING_CLIENT
En attente du poste client...
# MSG_NET_CONNECTING
Connection en cours...
# MSG_NET_CONFIG_SERVER
Configuration du Serveur
# MSG_NET_CONFIG_CLIENT
Se Connecter au Serveur
# MSG_TRANSFER_UNITS
Choisissez les unités que vous voulez emmener.
# MSG_ASK_SIDE
Avec quel camp souhaitez vous jouer?
# MSG_ASK_REPAIR
Pour réparer l'unité %s il faut %d cristaux.
# MSG_ASK_OVERWRITE
Le fichier '%s'
existe déjà. L'écraser?
# MSG_ASK_ABORT
Retourner au menu principal?
# MSG_ASK_ABORT_PBEM
Vraiment annuler? La partie en cours de jeu sera perdue!
# MSG_ASK_ABORT_NETWORK
Souhaitez vous quitter la partie en cours et vous déconnecter?
# MSG_ASK_QUIT
Voulez-vous vraiment quitter?
# MSG_RESULT_DRAW
Match nul!
# MSG_RESULT_VICTORY
Félicitations! Vous avez gagné!
# MSG_RESULT_DEFEAT
Vous avez perdu!
# MSG_MESSAGE
Message
# MSG_WARNING
Avertissement
# MSG_ERROR
Erreur
# MSG_ERR_WRITE
Impossible d'ouvrir le fichier de sortie.
# MSG_ERR_SAVE
Impossible de sauvegarder la partie!
# MSG_ERR_NETWORK
La connection à la machine distante est rompue!
# MSG_ERR_LOAD_MAP
Échec du chargement de la mission!
# MSG_ERR_NO_ACCESS
Accès refusé!
# MSG_ERR_NO_BRIEFING
Aucune information sur la mission n'est disponible! 
# MSG_ERR_NO_LVL_INFO
Aucune information sur le niveau n'est disponible!
# MSG_ERR_MAP_NOT_FOUND
La carte demandée n'est pas disponible! 
# MSG_ERR_NO_MAP
Pas de niveau sélectionné!
# MSG_ERR_SWEEPER_FULL
Pas de place pour poser des mines.
# MSG_ERR_NO_CRYSTALS
Ressources insuffisantes
# MSG_ERR_NO_PRODUCTION
Vous ne pouvez pas construire cette unité.
[/messages]
