# Hungarian language file for Crimson Fields
# Based on en.tmpl revision 1.12
language=magyar
id=hu

[messages]
_OK
# MSG_B_CANCEL
_Mégsem
# MSG_B_YES
_Igen
# MSG_B_NO
_Nem
# MSG_B_START
_Start
# MSG_B_MAP
_Térkép
# MSG_B_OBJECTIVES
Cé_lok
# MSG_B_LEVEL_INFO
_Szint info
# MSG_B_LOAD
_Betöltés
# MSG_B_SAVE
_Mentés
# MSG_B_SKIP
_Állj
# MSG_B_END_TURN
Kör _vége
# MSG_B_OPTIONS
_Beállítások
# MSG_B_OPT_GENERAL
_Általános
# MSG_B_OPT_VIDEO
_Video
# MSG_B_OPT_AUDIO
_Hang
# MSG_B_OPT_FULLSCREEN
_Teljes képernyö
# MSG_B_OPT_DAMAGE
Mutassa a _sebzést
# MSG_B_OPT_REPLAYS
_Körök visszajátszása
# MSG_B_OPT_REPLAYS_QUICK
_Csak a csaták eredménye
# MSG_B_OPT_SFX
_Effektek
# MSG_B_OPT_MUSIC
_Zene
# MSG_B_OPT_LANGUAGE
_Nyelv
# MSG_B_OPT_KEYBOARD
_Key Bindings
# MSG_B_GAME_TYPE
Játék_mód
# MSG_B_MAP_TYPE
_Térképek
# MSG_B_SAVE_GAME
_Mentés...
# MSG_B_MAIN_MENU
Meg_adás...
# MSG_B_QUIT
_Kilépés...
# MSG_B_EXIT
K_ilépés
# MSG_B_HANDICAP
_Elöny
# MSG_B_REPAIR
_Javítás
# MSG_B_UNIT_INFO
_Info
# MSG_B_UNIT_CONTENT
_Raktér
# MSG_B_UNIT_SWEEP
_Aknaszedés
# MSG_B_UNIT_UNDO
_Visszavonás
# MSG_B_SERVER
_Server Name/Address
# MSG_B_PORT
_Port
# MSG_GAME_HOT_SEAT
Két játékos egy gépen
# MSG_GAME_PBEM
Játék e-mailben
# MSG_GAME_AI
Játék a gép ellen
# MSG_GAME_NETWORK_SERVER
Network (Server)
# MSG_GAME_NETWORK_CLIENT
Network (Client)
# MSG_MAPS_SINGLES
Összecsapások
# MSG_MAPS_CAMPAIGNS
Hadjáratok
# MSG_MAPS_SAVES
Mentett állások
# MAG_HANDICAP_NONE
Nincs
# MSG_HANDICAP_P1
1. játékos
# MSG_HANDICAP_P2
2. játékos
# MSG_TAG_PBEM
PBEM
# MSG_TAG_NET
TCP/IP
# MSG_TURN
Forduló
# MSG_UNITS
Egységek
# MSG_SHOPS
Boltok
# MSG_PLAYER_SELECTION
Játékosválasztás
# MSG_DEBRIEFING
Küldetés összegzése
# MSG_LVL_INFO
Szint ismertetése
# MSG_OPTIONS_GENERAL
Általános beállítások
# MSG_OPTIONS_VIDEO
Video beállítások
# MSG_OPTIONS_AUDIO
Hangbeállítások
# MSG_OPTIONS_LANGUAGE
Nyelvválasztás
# MSG_OPTIONS_KEYBOARD
Key Bindings
# MSG_OPT_KEY_MINIMIZE
Minimize Game
# MSG_OPT_KEY_END_TURN
End Turn
# MSG_OPT_KEY_MAP
View Map
# MSG_OPT_KEY_GAME_MENU
Game Menu
# MSG_OPT_KEY_UNIT_MENU
Unit Menu
# MSG_OPT_KEY_UNIT_CONTENT
Show content
# MSG_OPT_KEY_UNIT_INFO
Unit Info
# MSG_OPT_KEY_UNIT_NEXT
Next Unit
# MSG_OPT_KEY_UNIT_SELECT
Select Unit
# MSG_OPT_KEY_UNIT_UNDO
Undo Last Move
# MSG_OPT_KEY_UNIT_SWEEP
Sweep Mine
# MSG_PRESS_KEY
Please press a key to assign or Backspace/Delete to clear
# MSG_LOAD_GAME
Állás betöltése
# MSG_SAVE_GAME
Állás mentése
# MSG_GAME_SAVED
Játék elmentve
# MSG_GAME_SAVED_PBEM
PBeM játék elmentve
'%s' néven.
# MSG_ENTER_PASSWORD
Adja meg a _Jelszót
# MSG_CHOOSE_PASSWORD
_Jelszó megadása
# MSG_CONFIRM_PASSWORD
_Jelszó megerösítése
# MSG_NET_WAITING
Waiting for remote player...
# MSG_NET_WAITING_CLIENT
Waiting for client...
# MSG_NET_CONNECTING
Connecting...
# MSG_NET_CONFIG_SERVER
Server Configuration
# MSG_NET_CONFIG_CLIENT
Connect to Server
# MSG_TRANSFER_UNITS
Rakomány kiválasztása
# MSG_ASK_SIDE
Melyik oldallal játszik?
# MSG_ASK_REPAIR
%s javításához %d kristály szükséges.
# MSG_ASK_OVERWRITE
A fájl '%s' már
létezik. Felülírja?
# MSG_ASK_ABORT
Visszalép a fömenübe?
# MSG_ASK_ABORT_PBEM
Abbahagyja a játékot? A jelenlegi állás elveszik!
# MSG_ASK_ABORT_NETWORK
Really disconnect? The current game will be lost!
# MSG_ASK_QUIT
Biztosan kilép?
# MSG_RESULT_DRAW
A játék döntetlennel végzödött.
# MSG_RESULT_VICTORY
Gratulálunk! Gyözött!
# MSG_RESULT_DEFEAT
Vesztett.
# MSG_MESSAGE
Üzenet
# MSG_WARNING
Figyelem
# MSG_ERROR
Hiba
# MSG_ERR_WRITE
Nem lehet megnyitni a kimeneti fájlt!
# MSG_ERR_SAVE
Nem lehet elmenteni a játékot!
# MSG_ERR_NETWORK
Lost connection to remote peer!
# MSG_ERR_LOAD_MAP
Nem sikerült betölteni a küldetést!
# MSG_ERR_NO_ACCESS
Hozzáférés megtagadva!
# MSG_ERR_NO_BRIEFING
Nincs eligazítás a küldetéshez.
# MSG_ERR_NO_LVL_INFO
Nincs a szintröl tájékoztató!
# MSG_ERR_MAP_NOT_FOUND
A kért térkép nem érhetö el!
# MSG_ERR_NO_MAP
Nincs szint kiválasztva!
# MSG_ERR_SWEEPER_FULL
Nem lehet aknát lerakni!
# MSG_ERR_NO_CRYSTALS
Nincs elég nyersanyag!
# MSG_ERR_NO_PRODUCTION
Nem lehet az egységet legyártani!
[/messages]

