# italian language file for Crimson Fields
# based on en.tmpl revision 1.19
# translated by Americo <darkamex> Iacovizzi ('darkamex@gmail.com')
language=italiano
id=it

[messages]
_OK
# MSG_B_CANCEL
_Annulla
# MSG_B_YES
_Si
# MSG_B_NO
_No
# MSG_B_START
_Avvia
# MSG_B_MAP
_Mappa
# MSG_B_OBJECTIVES
O_bbiettivi
# MSG_B_LEVEL_INFO
Informazioni sul _Livello
# MSG_B_LOAD
_Carica
# MSG_B_SAVE
_Salva
# MSG_B_SKIP
_Stop
# MSG_B_END_TURN
_Fine Turno
# MSG_B_OPTIONS
_Impostazioni
# MSG_B_OPT_GENERAL
_Generali
# MSG_B_OPT_VIDEO
_Video
# MSG_B_OPT_AUDIO
_Suono
# MSG_B_OPT_FULLSCREEN
Schermo _Intero
# MSG_B_OPT_DAMAGE
Mostra gli indicatori del _Danno
# MSG_B_OPT_REPLAYS
Mostra i replay del _Turno
# MSG_B_OPT_REPLAYS_QUICK
Mostra solo i risultati della _Battaglia
# MSG_B_OPT_SFX
_Suoni
# MSG_B_OPT_MUSIC
_Musica
# MSG_B_OPT_LANGUAGE
_Lingua
# MSG_B_OPT_KEYBOARD
Impostazione _Tasti
# MSG_B_GAME_TYPE
_Tipo di gioco
# MSG_B_MAP_TYPE
_Mappe
# MSG_B_SAVE_GAME
_Salvataggio...
# MSG_B_MAIN_MENU
R_esa...
# MSG_B_QUIT
_Fine...
# MSG_B_EXIT
E_sci
# MSG_B_HANDICAP
_Handicap
# MSG_B_REPAIR
_Ripristina
# MSG_B_UNIT_INFO
_Informazioni
# MSG_B_UNIT_CONTENT
_Contenuti
# MSG_B_UNIT_SWEEP
_Sweep Mine
# MSG_B_UNIT_UNDO
_Annulla
# MSG_B_SERVER
Nome/Indirizzo del _Server
# MSG_B_PORT
_Porta
# MSG_GAME_HOT_SEAT
Stessa postazione
# MSG_GAME_PBEM
Gioca tramite e-Mail
# MSG_GAME_AI
Contro il Computer
# MSG_GAME_NETWORK_SERVER
In rete (Server)
# MSG_GAME_NETWORK_CLIENT
In rete (Client)
# MSG_MAPS_SINGLES
Piccoli scontri
# MSG_MAPS_CAMPAIGNS
Campagne
# MSG_MAPS_SAVES
Partite salvate
# MAG_HANDICAP_NONE
Nessuno
# MSG_HANDICAP_P1
Giocatore 1
# MSG_HANDICAP_P2
Giocatore 2
# MSG_TAG_PBEM
PBEM
# MSG_TAG_NET
TCP/IP
# MSG_TURN
Turno
# MSG_UNITS
Unità
# MSG_SHOPS
Negozi
# MSG_PLAYER_SELECTION
Selezione del giocatore
# MSG_DEBRIEFING
Mission Debriefing
# MSG_LVL_INFO
Informazione sul Livello
# MSG_OPTIONS_GENERAL
Opzioni generali
# MSG_OPTIONS_VIDEO
Opzioni Video
# MSG_OPTIONS_AUDIO
Opzioni Audio
# MSG_OPTIONS_LANGUAGE
Seleziona la lingua
# MSG_OPTIONS_KEYBOARD
Impostazione tasti
# MSG_OPT_KEY_MINIMIZE
Minimizza il Gioco
# MSG_OPT_KEY_END_TURN
Fine turno
# MSG_OPT_KEY_MAP
Vedi la mappa
# MSG_OPT_KEY_GAME_MENU
Menù di gioco
# MSG_OPT_KEY_UNIT_MENU
Menù dell'unità
# MSG_OPT_KEY_UNIT_CONTENT
Mostra i contenuti
# MSG_OPT_KEY_UNIT_INFO
Informazioni sull'unità
# MSG_OPT_KEY_UNIT_NEXT
Unità successiva
# MSG_OPT_KEY_UNIT_SELECT
Seleziona l'unità
# MSG_OPT_KEY_UNIT_UNDO
Annulla l'ultima mossa
# MSG_OPT_KEY_UNIT_SWEEP
Sweep Mine
# MSG_PRESS_KEY
Premi il tasto da assegnare o Backspace/Delete annullare
# MSG_LOAD_GAME
Carica la partita
# MSG_SAVE_GAME
Salva la partita
# MSG_GAME_SAVED
Partite salvate
# MSG_GAME_SAVED_PBEM
Current PBeM game was saved to
'%s'.
# MSG_ENTER_PASSWORD
Inserire la _Password
# MSG_CHOOSE_PASSWORD
Scegli una _Password
# MSG_CONFIRM_PASSWORD
Conferma la _Password
# MSG_NET_WAITING
In attesa di un giocatore remoto...
# MSG_NET_WAITING_CLIENT
In attesa di un  client...
# MSG_NET_CONNECTING
Connessione...
# MSG_NET_CONFIG_SERVER
Configurazione del Server
# MSG_NET_CONFIG_CLIENT
Connetti al Server
# MSG_TRANSFER_UNITS
Seleziona il tuo carico.
# MSG_ASK_SIDE
su quale fronte vuoi giocare?
# MSG_ASK_REPAIR
Repairing the %s requires %d crystals.
# MSG_ASK_OVERWRITE
Il file '%s'
esiste. Lo sovrascrivo?
# MSG_ASK_ABORT
Ritorna al menù principale?
# MSG_ASK_ABORT_PBEM
Sei Sicuro? Così, perderai questa battaglia!
# MSG_ASK_ABORT_NETWORK
Vuoi realmente abbandonare la partita corrente e disconnetterti?
# MSG_ASK_QUIT
Vuoi davvero uscire?
# MSG_RESULT_DRAW
Pareggio!
# MSG_RESULT_VICTORY
Congratulazioni! Hai vinto!
# MSG_RESULT_DEFEAT
Sei stato sconfitto!
# MSG_MESSAGE
Messaggio
# MSG_WARNING
Avviso
# MSG_ERROR
Errore
# MSG_ERR_WRITE
Non posso scrivere il file.
# MSG_ERR_SAVE
Impossibile salvare la partita!
# MSG_ERR_NETWORK
Persa la connessione remota!
# MSG_ERR_LOAD_MAP
Impossibile caricare la missione!
# MSG_ERR_NO_ACCESS
Accesso negato!
# MSG_ERR_NO_BRIEFING
Nessuna missione di addestramento disponibile!
# MSG_ERR_NO_LVL_INFO
Nessuna informazione sul livello disponibile!
# MSG_ERR_MAP_NOT_FOUND
La mappa selezionata non è disponibile!
# MSG_ERR_NO_MAP
Nessun livello selezionato!
# MSG_ERR_SWEEPER_FULL
Spazio non disponibile.
# MSG_ERR_NO_CRYSTALS
Rifornimenti non sufficenti
# MSG_ERR_NO_PRODUCTION
Non puoi costruire questa unità.
[/messages]
