# polish language file for Crimson Fields
# Based on en.tmpl revision 1.19
language=polski
id=pl

[messages]
_OK
#
_Anuluj
#
_Tak
#
_Nie
#
_Start
#
_Mapa
#
_Cele
#
_Informacje o poziomie
#
_Wczytaj
#
_Zapisz
#
_Stop
#
_Koniec Tury
#
_Opcje
#
_Ogólne
#
O_braz
#
_Dźwięk
#
_Pełny ekran
#
Pokaż _wskaźniki obrażeń
#
Pokaż _powtórki tur
#
Pokaż _tylko wynik bitwy
#
_SFX
#
_Muzyka
#
_Język
# MSG_B_OPT_KEYBOARD
Dowiązania _klawiszy
#
Typ _gry
#
_Mapy
#
_Zapisz...
#
_Poddaj...
#
Z_akończ...
#
W_yjście
# MSG_B_HANDICAP
_Utrudnienie
#
_Naprawa
#
_Informacje
#
_Zawartość
#
_Usuwaj miny
#
_Cofnij
# MSG_B_SERVER
_Nazwa/adres serwera
# MSG_B_PORT
_Port
#
Zamiana siedzień
#
Graj przez e-Mail
#
Gra z komputerem
# MSG_GAME_NETWORK_SERVER
Sieć (Serwer)
# MSG_GAME_NETWORK_CLIENT
Sieć (Klient)
#
Potyczki
#
Kampanie
#
Zapisane gry
# MSG_HANDICAP_NONE
Nikt
# MSG_HANDICAP_P1
Gracz 1
# MSG_HANDICAP_P2
Gracz 2
#
PBEM
# MSG_TAG_NET
TCP/IP
#
Tura
#
Jednostki
#
Sklepy
#
Wybór gracza
#
Podsumowanie misji
#
Informacje o misji
#
Opcje ogólne
#
Opcje obrazu
#
Opcje dźwięku
#
Wybór języka
# MSG_OPTIONS_KEYBOARD
Dowiązania klawiszy
# MSG_OPT_KEY_MINIMIZE
Minimalizuj grę
# MSG_OPT_KEY_END_TURN
Zakończ turę
# MSG_OPT_KEY_MAP
Pokaż mapę
# MSG_OPT_KEY_GAME_MENU
Menu gry
# MSG_OPT_KEY_UNIT_MENU
Menu jednostki
# MSG_OPT_KEY_UNIT_CONTENT
Pokaż zawartość
# MSG_OPT_KEY_UNIT_INFO
Informacje o jednostce
# MSG_OPT_KEY_UNIT_NEXT
Następna jednostka
# MSG_OPT_KEY_UNIT_SELECT
Wybierz jednostkę
# MSG_OPT_KEY_UNIT_UNDO
Wycofaj ostatni ruch
# MSG_OPT_KEY_UNIT_SWEEP
Usuwaj miny
# MSG_PRESS_KEY
Naciśnij klawisz który ma być przypisany albo Backspace/Delete by usunąć przypisanie
#
Wczytaj grę
#
Zapisz grę
#
Gra zapisana
#
Aktualna gra zapisana jako:
'%s'.
#
Podaj _hasło
#
Wybierz _hasło
#
Potwierdź _hasło
# MSG_NET_WAITING
Czekanie na drugiego gracza...
# MSG_NET_WAITING_CLIENT
Czekanie na klienta...
# MSG_NET_CONNECTING
Łączenie...
# MSG_NET_CONFIG_SERVER
Konfiguracja serwera
# MSG_NET_CONFIG_CLIENT
Połącz z serwerem
# MSG_TRANSFER_UNITS
Wybierz ładunek.
#
Którą stroną chcesz grać?
#
Naprawa %s wymaga %d minerałów.
#
Plik '%s'
istnieje. Nadpisać?
#
Wrócić do głównego menu?
#
Naprawdę przerwać? Aktualna gra będzie stracona!
# MSG_ASK_ABORT_NETWORK
Naprawdę opuściuć aktualną grę i rozłączyć?
#
Naprawdę wyjść?
#
Remis!
#
Gratuluję! Zwyciężyłeś!
#
Zostałeś pokonany!
#
Wiadomość
#
Ostrzeżenie
#
Błąd
#
Nie udało się otworzyć pliku wyjściowego.
#
Nie udało się zapisać gry!
# MSG_ERR_NETWORK
Przerwane połaczenie z drugim graczem!
#
Nieudane załadowanie misji!
#
Brak dostępu!
#
Nie ma odprawy!
#
Brak informacji o poziomie!
#
Mapa niedostępna!
#
Nie wybrano poziomu!
#
Nie ma miejsca na minę.
#
Za mało zasobów.
#
Nie możesz zbudować tej jednostki.
[/messages]

