# slovak language file for Crimson Fields
# Based on en.tmpl revision 1.19
language=slovenský
id=sk

[messages]
_OK
# MSG_B_CANCEL
_Zrušiť
# MSG_B_YES
Án_o
# MSG_B_NO
_Nie
# MSG_B_START
Št_art
# MSG_B_MAP
_Mapa
# MSG_B_OBJECTIVES
_Cieľ
# MSG_B_LEVEL_INFO
_Informácie o leveli
# MSG_B_LOAD
_Načítať
# MSG_B_SAVE
_Uložiť
# MSG_B_SKIP
_Preskočiť
# MSG_B_END_TURN
_Skončiť ťah
# MSG_B_OPTIONS
M_ožnosti
# MSG_B_OPT_GENERAL
_Všeobecné
# MSG_B_OPT_VIDEO
_Obraz
# MSG_B_OPT_AUDIO
_Zvuk
# MSG_B_OPT_FULLSCREEN
_Celá obrazovka
# MSG_B_OPT_DAMAGE
Zobrazovať _ukazovatele škody
# MSG_B_OPT_REPLAYS
Zobrazovať _priebeh predchádzajúceho ťahu
# MSG_B_OPT_REPLAYS_QUICK
Zobrazovať iba _výsledky bojov
# MSG_B_OPT_SFX
_Efekty
# MSG_B_OPT_MUSIC
_Hudba
# MSG_B_OPT_LANGUAGE
_Jazyk
# MSG_B_OPT_KEYBOARD
_Klávesové skratky
# MSG_B_GAME_TYPE
_Typ hry
# MSG_B_MAP_TYPE
_Mapy
# MSG_B_SAVE_GAME
_Uložiť...
# MSG_B_MAIN_MENU
_Vzdať sa...
# MSG_B_QUIT
U_končiť hru...
# MSG_B_EXIT
_Koniec
# MSG_B_HANDICAP
_Handicap
# MSG_B_REPAIR
_Opraviť
# MSG_B_UNIT_INFO
_Info
# MSG_B_UNIT_CONTENT
_Obsah
# MSG_B_UNIT_SWEEP
O_dstrániť mínu
# MSG_B_UNIT_UNDO
_Späť
# MSG_B_SERVER
_Názov/adresa servera
# MSG_B_PORT
_Port
# MSG_GAME_HOT_SEAT
Dvaja hráči (Hot seat)
# MSG_GAME_PBEM
Hra cez e-mail
# MSG_GAME_AI
Proti počítaču
# MSG_GAME_NETWORK_SERVER
Sieť (Server)
# MSG_GAME_NETWORK_CLIENT
Sieť (Klient)
# MSG_MAPS_SINGLES
Súboje
# MSG_MAPS_CAMPAIGNS
Kampane
# MSG_MAPS_SAVES
Uložené hry
# MAG_HANDICAP_NONE
Nik
# MSG_HANDICAP_P1
Hráč 1
# MSG_HANDICAP_P2
Hráč 2
# MSG_TAG_PBEM
e-mail
# MSG_TAG_NET
TCP/IP
# MSG_TURN
Ťah
# MSG_UNITS
Jednotky
# MSG_SHOPS
Budovy
# MSG_PLAYER_SELECTION
Výber hráča
# MSG_DEBRIEFING
Zhodnotenie misie
# MSG_LVL_INFO
Informácie o leveli
# MSG_OPTIONS_GENERAL
Všeobecné nastavenia
# MSG_OPTIONS_VIDEO
Nastavenia obrazu
# MSG_OPTIONS_AUDIO
Nastavenia zvuku
# MSG_OPTIONS_LANGUAGE
Výber jazyka
# MSG_OPTIONS_KEYBOARD
Klávesové skratky
# MSG_OPT_KEY_MINIMIZE
Minimalizovať hru
# MSG_OPT_KEY_END_TURN
Ukončiť ťah
# MSG_OPT_KEY_MAP
Zobraziť mapu
# MSG_OPT_KEY_GAME_MENU
Herné menu
# MSG_OPT_KEY_UNIT_MENU
Menu jednotky
# MSG_OPT_KEY_UNIT_CONTENT
Zobraziť obsah
# MSG_OPT_KEY_UNIT_INFO
Informácie o jednotke
# MSG_OPT_KEY_UNIT_NEXT
Ďalšia jednotka
# MSG_OPT_KEY_UNIT_SELECT
Vybrať jednotku
# MSG_OPT_KEY_UNIT_UNDO
Vrátiť posledný ťah
# MSG_OPT_KEY_UNIT_SWEEP
Odstrániť mínu
# MSG_PRESS_KEY
Stlač požadovaný kláves alebo Backspace/Delete pre zrušenie
# MSG_LOAD_GAME
Načítanie hry
# MSG_SAVE_GAME
Uloženie hry
# MSG_GAME_SAVED
Hra bola uložená
# MSG_GAME_SAVED_PBEM
Hra cez e-mail bola uložená do súboru
'%s'.
# MSG_ENTER_PASSWORD
Zadaj _heslo
# MSG_CHOOSE_PASSWORD
Vyber _heslo
# MSG_CONFIRM_PASSWORD
Potvrď _heslo
# MSG_NET_WAITING
Čaká sa na druhého hráča...
# MSG_NET_WAITING_CLIENT
Čaká sa na klienta...
# MSG_NET_CONNECTING
Pripája sa
# MSG_NET_CONFIG_SERVER
Nastavenie servera
# MSG_NET_CONFIG_CLIENT
Pripojiť k serveru
# MSG_TRANSFER_UNITS
Jednotky nastupujúce do transportéra
# MSG_ASK_SIDE
Za ktorú stranu chceš hrať?
# MSG_ASK_REPAIR
Na opravu jednotky %s bude treba %d kryštálov.
# MSG_ASK_OVERWRITE
Súbor '%s'
existuje. Prepísať?
# MSG_ASK_ABORT
Návrat do hlavného menu?
# MSG_ASK_ABORT_PBEM
Naozaj ukončiť? Aktuálna hra bude stratená!
# MSG_ASK_ABORT_NETWORK
Naozaj opustiť hru a odpojiť sa?
# MSG_ASK_QUIT
Naozaj chceš skončiť?
# MSG_RESULT_DRAW
Remíza!
# MSG_RESULT_VICTORY
Gratulujem! Zvíťazil si!
# MSG_RESULT_DEFEAT
Bol si porazený!
# MSG_MESSAGE
Správa
# MSG_WARNING
Upozornenie
# MSG_ERROR
Chyba
# MSG_ERR_WRITE
Nedá sa otvoriť výstupný súbor.
# MSG_ERR_SAVE
Hra sa nedá uložiť!
# MSG_ERR_NETWORK
Spojenie s druhou stranou stratené!
# MSG_ERR_LOAD_MAP
Nepodarilo sa načítať misiu!
# MSG_ERR_NO_ACCESS
Prístup odmietnutý!
# MSG_ERR_NO_BRIEFING
K misii nie sú žiadne inštrukcie!
# MSG_ERR_NO_LVL_INFO
O leveli nie sú žiadne informácie!
# MSG_ERR_MAP_NOT_FOUND
Požadovaná mapa nie je k dispozícii!
# MSG_ERR_NO_MAP
Nebol vybraný žiadny level!
# MSG_ERR_SWEEPER_FULL
Na mínu tu nie je miesto.
# MSG_ERR_NO_CRYSTALS
Nedostatok zásob
# MSG_ERR_NO_PRODUCTION
Táto jednotka sa nedá vybudovať.
[/messages]

