# Serbian language file for Crimson Fields based on en.tmpl revision 1.19
# Translated by Nikola Smolenski <smolensk@eunet.yu>
language=српски
id=sr

[messages]
_У реду
# MSG_B_CANCEL
_Поништи
# MSG_B_YES
_Да
# MSG_B_NO
_Не
# MSG_B_START
_Почни
# MSG_B_MAP
_Мапа
# MSG_B_OBJECTIVES
_Циљеви
# MSG_B_LEVEL_INFO
Подаци о _нивоу
# MSG_B_LOAD
_Учитај
# MSG_B_SAVE
_Сними
# MSG_B_SKIP
_Стани
# MSG_B_END_TURN
Крај _потеза
# MSG_B_OPTIONS
П_одешавања
# MSG_B_OPT_GENERAL
_Опште
# MSG_B_OPT_VIDEO
_Слика
# MSG_B_OPT_AUDIO
_Звук
# MSG_B_OPT_FULLSCREEN
_Пун екран
# MSG_B_OPT_DAMAGE
Приказуј _оштећења
# MSG_B_OPT_REPLAYS
Приказуј одвијање _потеза
# MSG_B_OPT_REPLAYS_QUICK
Приказуј само исходе _битака
# MSG_B_OPT_SFX
_Звучни ефекти
# MSG_B_OPT_MUSIC
_Музика
# MSG_B_OPT_LANGUAGE
_Језик
# MSG_B_OPT_KEYBOARD
Спој са _тастатуром
# MSG_B_GAME_TYPE
_Врста игре
# MSG_B_MAP_TYPE
_Мапе
# MSG_B_SAVE_GAME
_Сними...
# MSG_B_MAIN_MENU
П_редај се...
# MSG_B_QUIT
_Крај...
# MSG_B_EXIT
_Изађи
# MSG_B_HANDICAP
О_граничења
# MSG_B_REPAIR
_Поправи
# MSG_B_UNIT_INFO
_Подаци
# MSG_B_UNIT_CONTENT
_Садржај
# MSG_B_UNIT_SWEEP
_Покупи мину
# MSG_B_UNIT_UNDO
_Врати
# MSG_B_SERVER
Име или адреса _сервера
# MSG_B_PORT
_Порт
# MSG_GAME_HOT_SEAT
Врућа столица
# MSG_GAME_PBEM
Преко ел. поште (PBEM)
# MSG_GAME_AI
Против компјутера
# MSG_GAME_NETWORK_SERVER
Мрежа (сервер)
# MSG_GAME_NETWORK_CLIENT
Мрежа (клијент)
# MSG_MAPS_SINGLES
Окршаји
# MSG_MAPS_CAMPAIGNS
Кампање
# MSG_MAPS_SAVES
Снимљене партије
# MAG_HANDICAP_NONE
Никаква
# MSG_HANDICAP_P1
Играч 1
# MSG_HANDICAP_P2
Играч 2
# MSG_TAG_PBEM
ИПЕП (PBEM)
# MSG_TAG_NET
ТКП/ИП (TCP/IP)
# MSG_TURN
Потез
# MSG_UNITS
Јединице
# MSG_SHOPS
Зграде
# MSG_PLAYER_SELECTION
Бирање играча
# MSG_DEBRIEFING
Наређења
# MSG_LVL_INFO
Подаци о нивоу
# MSG_OPTIONS_GENERAL
Општа подешавања
# MSG_OPTIONS_VIDEO
Подешавања слике
# MSG_OPTIONS_AUDIO
Подешавања звука
# MSG_OPTIONS_LANGUAGE
Избор језика
# MSG_OPTIONS_KEYBOARD
Тастатура
# MSG_OPT_KEY_MINIMIZE
Минимизуј игру
# MSG_OPT_KEY_END_TURN
Крај круга
# MSG_OPT_KEY_MAP
Погледај мапу
# MSG_OPT_KEY_GAME_MENU
Мени игре
# MSG_OPT_KEY_UNIT_MENU
Мени јединице
# MSG_OPT_KEY_UNIT_CONTENT
Прикажи садржај
# MSG_OPT_KEY_UNIT_INFO
Подаци о јединици
# MSG_OPT_KEY_UNIT_NEXT
Следећа јединица
# MSG_OPT_KEY_UNIT_SELECT
Изабери јединицу
# MSG_OPT_KEY_UNIT_UNDO
Врати последњи потез
# MSG_OPT_KEY_UNIT_SWEEP
Покупи мину
# MSG_PRESS_KEY
Притисни дугме да га користиш или Backspace/Delete да обришеш
# MSG_LOAD_GAME
Учитај партију
# MSG_SAVE_GAME
Сними партију
# MSG_GAME_SAVED
Партија је снимљена
# MSG_GAME_SAVED_PBEM
Тренутна ИПЕП (PBEM) партија је снимљена у
'%s'.
# MSG_ENTER_PASSWORD
Унеси _лозинку
# MSG_CHOOSE_PASSWORD
Изабери _лозинку
# MSG_CONFIRM_PASSWORD
Потврди _лозинку
# MSG_NET_WAITING
Чекам удаљеног играча...
# MSG_NET_WAITING_CLIENT
Чекам клијента...
# MSG_NET_CONNECTING
Повезивање...
# MSG_NET_CONFIG_SERVER
Подешавање сервера
# MSG_NET_CONFIG_CLIENT
Повежи се на сервер
# MSG_TRANSFER_UNITS
Изабери свој товар.
# MSG_ASK_SIDE
За коју страну желиш да играш?
# MSG_ASK_REPAIR
%s на поправци - потребно је %d кристала.
# MSG_ASK_OVERWRITE
Фајл '%s'
постоји. Да пишем преко њега?
# MSG_ASK_ABORT
Да се вратим у главни мени?
# MSG_ASK_ABORT_PBEM
Да стварно прекинем? Ова партија ће бити изгубљена!
# MSG_ASK_ABORT_NETWORK
Да стварно напустим ову партију и прекинем везу?
# MSG_ASK_QUIT
Да ли стварно желиш да изађеш из игре?
# MSG_RESULT_DRAW
Ова партија је нерешена!
# MSG_RESULT_VICTORY
Честитам на победи!
# MSG_RESULT_DEFEAT
Побеђен си!
# MSG_MESSAGE
Порука
# MSG_WARNING
Упозорење
# MSG_ERROR
Грешка
# MSG_ERR_WRITE
Не могу да отворим излазни фајл.
# MSG_ERR_SAVE
Не могу да снимим партију!
# MSG_ERR_NETWORK
Изгубљена веза са удаљеним играчем!
# MSG_ERR_LOAD_MAP
Не могу да учитам мисију!
# MSG_ERR_NO_ACCESS
Забрањен приступ!
# MSG_ERR_NO_BRIEFING
Нема наређења за ниво!
# MSG_ERR_NO_LVL_INFO
Нема података о нивоу!
# MSG_ERR_MAP_NOT_FOUND
Захтевана мапа није доступна!
# MSG_ERR_NO_MAP
Ниво није изабран!
# MSG_ERR_SWEEPER_FULL
Нема места за мину.
# MSG_ERR_NO_CRYSTALS
Недовољне залихе
# MSG_ERR_NO_PRODUCTION
Не можеш да саградиш ову јединицу.
[/messages]

