# turkish language file for Crimson Fields
# based on en.tmpl revision 1.19
# translated by Murat Şenel (muratasenel@gmail.com)
language=türkçe
id=tr

[messages]
_Tamam
# MSG_B_CANCEL
İ_ptal et
# MSG_B_YES
_Evet
# MSG_B_NO
_Hayır
# MSG_B_START
_Başlat
# MSG_B_MAP
H_arita
# MSG_B_OBJECTIVES
He_def
# MSG_B_LEVEL_INFO
Bölüm B_ilgisi
# MSG_B_LOAD
_Yükle
# MSG_B_SAVE
Kayde_t
# MSG_B_SKIP
Du_rdur
# MSG_B_END_TURN
T_uru Bitir
# MSG_B_OPTIONS
Seçe_nekler
# MSG_B_OPT_GENERAL
_Genel
# MSG_B_OPT_VIDEO
_Video
# MSG_B_OPT_AUDIO
_Ses
# MSG_B_OPT_FULLSCREEN
Ta_m Ekran
# MSG_B_OPT_DAMAGE
Hasar Belirteçleri_ni Göster
# MSG_B_OPT_REPLAYS
Tur Tekrarlarını _Göster
# MSG_B_OPT_REPLAYS_QUICK
Sadece _Savaş Sonuçlarını Göster
# MSG_B_OPT_SFX
SF_X
# MSG_B_OPT_MUSIC
Mü_zik
# MSG_B_OPT_LANGUAGE
D_il
# MSG_B_OPT_KEYBOARD
_Tuş Atamaları
# MSG_B_GAME_TYPE
_Oyun Türü
# MSG_B_MAP_TYPE
_Haritalar
# MSG_B_SAVE_GAME
Kayde_t...
# MSG_B_MAIN_MENU
Tes_lim Ol...
# MSG_B_QUIT
Çı_k...
# MSG_B_EXIT
Çı_k
# MSG_B_HANDICAP
_Engel
# MSG_B_REPAIR
_Onar
# MSG_B_UNIT_INFO
_Bilgi
# MSG_B_UNIT_CONTENT
_İçerik
# MSG_B_UNIT_SWEEP
_Mayınları Temizle
# MSG_B_UNIT_UNDO
_Geri Al
# MSG_B_SERVER
_Sunucu Adı/Adresi
# MSG_B_PORT
_Port
# MSG_GAME_HOT_SEAT
Sıcak Koltuk
# MSG_GAME_PBEM
e-Posta Vasıtasıyla Oyna
# MSG_GAME_AI
Bilgisayara Karşı
# MSG_GAME_NETWORK_SERVER
Ağ (Sunucu)
# MSG_GAME_NETWORK_CLIENT
Ağ (İstemci)
# MSG_MAPS_SINGLES
Çatışmalar
# MSG_MAPS_CAMPAIGNS
Seferler
# MSG_MAPS_SAVES
Kayıtlı Oyunlar
# MAG_HANDICAP_NONE
Hiçbiri
# MSG_HANDICAP_P1
Oyuncu 1
# MSG_HANDICAP_P2
Oyuncu 2
# MSG_TAG_PBEM
PBEM
# MSG_TAG_NET
TCP/IP
# MSG_TURN
Tur
# MSG_UNITS
Birlikler
# MSG_SHOPS
Dükkanlar
# MSG_PLAYER_SELECTION
Oyuncu Seçimi
# MSG_DEBRIEFING
Görev Bilgisi
# MSG_LVL_INFO
Seviye Bilgisi
# MSG_OPTIONS_GENERAL
Genel Seçenekler
# MSG_OPTIONS_VIDEO
Video Seçenekleri
# MSG_OPTIONS_AUDIO
Ses Seçenekleri
# MSG_OPTIONS_LANGUAGE
Dil Seçimi
# MSG_OPTIONS_KEYBOARD
Tuş Atamaları
# MSG_OPT_KEY_MINIMIZE
Simge Durumuna Küçült
# MSG_OPT_KEY_END_TURN
Turu Bitir
# MSG_OPT_KEY_MAP
Haritayı Göster
# MSG_OPT_KEY_GAME_MENU
Oyun Menüsü
# MSG_OPT_KEY_UNIT_MENU
Birlik Menüsü
# MSG_OPT_KEY_UNIT_CONTENT
İçeriği Göster
# MSG_OPT_KEY_UNIT_INFO
Birlik Bilgisi
# MSG_OPT_KEY_UNIT_NEXT
Sonraki Birlik
# MSG_OPT_KEY_UNIT_SELECT
Birlik Seç
# MSG_OPT_KEY_UNIT_UNDO
Son Hareketi Geri Al
# MSG_OPT_KEY_UNIT_SWEEP
Mayınları Temizle
# MSG_PRESS_KEY
Tuş atamak için lütfen bir tuşa basın veya silmek için Backspace/Delete tuşlarını kullanın
# MSG_LOAD_GAME
Kayıtlı Oyun Yükle
# MSG_SAVE_GAME
Oyunu Kaydet
# MSG_GAME_SAVED
Oyun Kaydedildi
# MSG_GAME_SAVED_PBEM
Mevcut PBeM oyunu '%s'
olarak kaydedildi.
# MSG_ENTER_PASSWORD
_Parola Girin
# MSG_CHOOSE_PASSWORD
_Parola Seçin
# MSG_CONFIRM_PASSWORD
_Parolayı Onaylayın
# MSG_NET_WAITING
Uzaktaki oyuncu bekleniyor...
# MSG_NET_WAITING_CLIENT
İstemci bekleniyor...
# MSG_NET_CONNECTING
Bağlanıyor...
# MSG_NET_CONFIG_SERVER
Sunucu Ayarları
# MSG_NET_CONFIG_CLIENT
Sunucuya Bağlan
# MSG_TRANSFER_UNITS
Kargonuzu seçin.
# MSG_ASK_SIDE
Hangi tarafta oynamak istiyorsunuz?
# MSG_ASK_REPAIR
%s onarmak için %d kristal gerekiyor.
# MSG_ASK_OVERWRITE
'%s' dosyası
mevcut. Üzerine yazılsın mı?
# MSG_ASK_ABORT
Ana menüye dön?
# MSG_ASK_ABORT_PBEM
Çıkmak istiyor musunuz? Mevcut oyun kaybedilecek!
# MSG_ASK_ABORT_NETWORK
Mevcut oyundan çıkıp bağlantıyı kesmek istiyor musunuz?
# MSG_ASK_QUIT
Gerçekten çıkmak istiyor musunuz?
# MSG_RESULT_DRAW
Oyun berabere bitti!
# MSG_RESULT_VICTORY
Tebrikler! Kazandınız!
# MSG_RESULT_DEFEAT
Kaybettiniz!
# MSG_MESSAGE
Mesaj
# MSG_WARNING
Uyarı
# MSG_ERROR
Hata
# MSG_ERR_WRITE
Çıktı dosyası açılamadı.
# MSG_ERR_SAVE
Oyun kaydedilemedi!
# MSG_ERR_NETWORK
Uzaktaki makine ile bağlantı koptu!
# MSG_ERR_LOAD_MAP
Görev yüklenemedi!
# MSG_ERR_NO_ACCESS
Erişim engellendi!
# MSG_ERR_NO_BRIEFING
Görev bilgisi mevcut değil!
# MSG_ERR_NO_LVL_INFO
Seviye bilgisi mevcut değil!
# MSG_ERR_MAP_NOT_FOUND
İstenen harita mevcut değil!
# MSG_ERR_NO_MAP
Hiçbir seviye seçilmedi!
# MSG_ERR_SWEEPER_FULL
Mayınlar için alan yok.
# MSG_ERR_NO_CRYSTALS
Yetersiz Kaynak
# MSG_ERR_NO_PRODUCTION
Bu birliği inşa edemezsiniz.
[/messages]

